/*  your css code here. If applicable */
.maincontainer{
	padding:20px;
	background-color:white;
}
.testimonial{
	padding:10px;
	border:1px solid lightgray;
	background-color:white;
	
}
.author{
	text-align:right;
	font-style:italic;
}
